.mainDiv {
  width: 100%;

  /* overflow-y: scroll; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

form {
  width: 500px;
  background-color: #ffffff2b;
  padding: 20px;
  border-radius: 10px;
  margin: auto 0;
}
.form-heading {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 10px;
}
.form-controller {
  margin-bottom: 10px;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}
.form-label {
  margin-bottom: 8px;
  text-transform: uppercase;
}
.form-input {
  /* padding: 10px; */
  font-size: 20px;
  padding: 20px 10px 20px 10px;
  height: 20px;
  width: 100%;
  box-sizing: border-box;
}
.form-select {
  font-size: 20px;
  width: 100%;
  padding: 8px;
}
.subscribe {
  display: flex;
  justify-content: start;
  align-items: center;
  /* background-color: red; */
}
.subscribe > input {
  margin-right: 8px;
  margin-top: -5px;
}
.subscribe > label {
  text-transform: none;
}
span {
  color: red;
}
